@font-face {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Akkurat';
	src: url('typography/Akkurat-Light.otf');
	src: url('typography/Akkurat-Light.eot');
	src: url('typography/Akkurat-Light?#iefix') format('embedded-opentype'),
	     url('typography/Akkurat-Light.woff') format('woff'),
	     url('typography/Akkurat-Light.ttf')  format('truetype'),
	     url('typography/Akkurat-Light.svg#svgFontName') format('svg'); 
    font-weight: normal;
    font-style: normal;
}	


@font-face {
    font-family: 'Akkurat';
    src: url('typography/Akkurat-Bold.otf');
	src: url('typography/Akkurat-Bold.eot'); 
	src: url('typography/Akkurat-Bold?#iefix') format('embedded-opentype'),
	     url('typography/Akkurat-Bold.woff') format('woff'), 
	     url('typography/Akkurat-Bold.ttf')  format('truetype'), 
	     url('typography/Akkurat-Bold.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
	font-family: 'neue';
	src: url('typography/neue.otf');
	src: url('typography/neue.eot');
	src: url('typography/neue?#iefix') format('embedded-opentype'),
	     url('typography/neue.woff') format('woff'),
	     url('typography/neue.ttf')  format('truetype'),
	     url('typography/neue.svg#svgFontName') format('svg'); 
    font-weight: normal;
    font-style: normal;
}	


@font-face {
    font-family: 'neue';
    src: url('typography/neueBold.otf');
	src: url('typography/neueBold.eot'); 
	src: url('typography/neueBold?#iefix') format('embedded-opentype'),
	     url('typography/neueBold.woff') format('woff'), 
	     url('typography/neueBold.ttf')  format('truetype'), 
	     url('typography/neueBold.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'neue';
    src: url('typography/neueLight.otf');
	src: url('typography/neueLight.eot'); 
	src: url('typography/neueLight?#iefix') format('embedded-opentype'),
	     url('typography/neueLight.woff') format('woff'), 
	     url('typography/neueLight.ttf')  format('truetype'), 
	     url('typography/neueLight.svg#svgFontName') format('svg');
    font-weight: thin;
    font-style: normal;
}