<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" initial-scale='1.0'>
    <meta name="description" content="William Hockey">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/copper.js"></script>
    <script type="text/javascript" src="//use.typekit.net/qyr6wos.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>

  <body>
    {{ content }}
  </body>
</html>
